@font-face {
  font-family: "Marvel";
  src: url("../Font/MarvelRegular-Dj83.ttf") format("truetype");
}

body{
  margin: 0;
  background: linear-gradient(
    45deg,
    rgba(0, 110, 193, 0.3),
    rgba(0, 115, 138, 0.1)
  )
  no-repeat fixed center,
  url("../src/assets/bg/spider.jpg") no-repeat fixed center;
  background-size: cover;
}